* {
  border: none;
  border-radius: 0;
  font-family: "Source Code Pro";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: rgba(25, 35, 48, 0.8);
  color: #cdcecf;
}

tooltip {
  background: #192330;
  border: 1px solid rgb(100, 114, 125);
}
tooltip label {
  color: #cdcecf;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  background: #64727d;
  border-bottom: 3px solid white;
}

#mode {
}
#pulseaudio,
#network {
  padding: 0 5px 0 0;
}

#clock {
  padding: 0 15px 0 0;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid white;
}

#battery {
  background-color: #ffffff;
  color: black;
}

#battery.charging {
  color: white;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #f53c3c;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
